{% extends "layout.html" %}

{% block content %}
<div class="container">
  <div class="card-header">
    <strong>| Project |</strong>
  </div>

  <div class="row mx-auto">
    <div class="col-lg-4 col-sm-6 portfolio-item my-3">
      <div class="card h-100">
        <img class="card-img-top" src="{{ url_for('static', filename='images/lms_r.png') }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">LMS Notion</h5>
          <p class="card-text small" style="margin: 10px 0">| 2022.05 | Selenium, Telegram-Bot</p>
          <a href="https://github.com/riverallzero/LmsNotion" class="btn btn-success btn-sm">Click Details</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6 portfolio-item my-3">
      <div class="card h-100">
        <img class="card-img-top" src="{{ url_for('static', filename='images/paprika.png') }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Yield Prediction Model</h5>
          <p class="card-text small" style="margin: 10px 0">| 2022.08 | for Multiple Paprika Cultivars</p>
          <a href="https://github.com/riverallzero/Paprika" class="btn btn-success btn-sm">Click Details</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6 portfolio-item my-3">
      <div class="card h-100">
        <img class="card-img-top" src="{{ url_for('static', filename='images/loading.png') }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Comming Soon</h5>
          <p class="card-text small" style="margin: 10px 0">| 2022.09 ~ </p>
          <a href="https://github.com/riverallzero" class="btn btn-success btn-sm">Click Details</a>
        </div>
      </div>
    </div>


  </div>

</div>
{% endblock %}