{% extends "layout.html" %}

{% block content %}
<h2>ABOUT</h2>
<div class="contents">
    <p>I'm a sophomore majoring in smart farm at Jeonbuk National University.
        I'm an undergraduate researcher at the Smart Digital Agriculture Lab.
        Studying data science, machine learning, and deep learning.
        It mainly processes data using Pandas, and visualizes it using pyplot and seaborn.
        Based on machine learning, I mainly predict the production of crops.</p>
</div>

<h2>SKILLS</h2>
<div class="contents">
    <p>I can handle Pandas well with Python, and I preprocess data using dataframes in Pandas.
    Using JetBrains Pycharm in programming and pushing the project on GitHub</p>
</div>
{% endblock %}